<p>Hey <%= name %>,</p>
<p>
  You have been registered as an admin on the City logistics platform.
</p>
<p>Your login details are:</p>
<p>User ID: <%= email %> </p>
<p>Temporary Password: <%= password %> </p> 
<p>Please change your password immediately when you log in to the platform.</p>

<br/>
<p> Regards,</p>
<p> My City Logistics</p>


