<p>Hey <%= name %>,</p>
<p>
  Your application to enlist as a driver with mycitylogistics has been approved.
Your login details are:
</p>
<p>User ID: <%= email %> </p>
<p>Temporary Password: <%= password %> </p> 
<p>Please change your password immediately when you log in to the platform.</p>

<br/>
<p> Regards,</p>
<p> My City Logistics</p>


