<p>Hey <%= name %>,</p>
<p>
After reviewing your application to enlist as a driver with mycitylogistics, 
we have decided not to proceed with your application.
</p>

<p>Please reach out to our support team for further assistance.</p>

<br/>
<p> Regards,</p>
<p> My City Logistics</p>


