<p>
  Thank you for placing your order for a pickup, your order  number is #<%= orderId %>.
</p>

<p>Please complete payment with the payment link below</p>
<p>
  <a href="<%= paymentUrl %>">Complete Payment</a>
</p>

<br/>
<p>Thanks for your patronage. </p>
<p> Regards,</p>
<p> My City Logistics</p>


