<p>Hey <%= name %>,</p>
<p>
  Thank you for placing your order for a pickup, your order  number is <%= orderId %> Your request is being assigned to a driver. We will inform you shortly.
</p>

<br/>
<p>Thanks for your patronage. </p>
<p> Regards,</p>
<p> My City Logistics</p>
  


